
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>Delete Product</h2>

<table>
    <tr>
        <td>Id</td>
        <td>{{Product.Id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{Product.Name}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{Product.Description}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{Product.Price}}</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>{{Product.Quantity}}</td>
    </tr>
</table>
<input type="button" value="Delete" ng-click="delete()" />